@page "/Report/WeeklyReportTeam"

@using VideoAppCore.Data.Models
@using System.Globalization
@inject IJSRuntime JSRuntime;

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

@inject IReportAsync reportSvc
@inject ICommonCodeAsync commonSvc

@if (_module_names == null)
{
    <p><em> Loading...</em></p>
    <div id="floatingCirclesG">
        <div class="f_circleG" id="frotateG_01"></div>
        <div class="f_circleG" id="frotateG_02"></div>
        <div class="f_circleG" id="frotateG_03"></div>
        <div class="f_circleG" id="frotateG_04"></div>
        <div class="f_circleG" id="frotateG_05"></div>
        <div class="f_circleG" id="frotateG_06"></div>
        <div class="f_circleG" id="frotateG_07"></div>
        <div class="f_circleG" id="frotateG_08"></div>
    </div>
}
else
{

    <div class="row align-content-xl-end m-3">
        <button class="btn btn-primary m-1" @onclick="OnClear"> 신 규 </button>
        <button class="btn btn-primary m-1" @onclick="OnQuery"> 조 회 </button>
        <button class="btn btn-primary m-1" @onclick="OnSave"> 저 장 </button>
        <button class="btn btn-primary m-1" @onclick="OnRemove"> 삭 제 </button>
    </div>

    <div class="row">
        <div class="col-xl-6 portfolio-item">
            <!--
                <ReportComponent StrtDate="@_thisWeekStrtDate" EndDate="@_thisWeekEndDate" EditorId="thisWeek" @ref="thisWeekComp" SaveSucceed="OnSaveCompleted" />
            -->
            <div class="card h-100">
                <div class="card-header">
                    <label class="px-4"> @ThisWeekTitle </label>
                    <input type="date" @bind="_thisWeekStrtDate" @bind:format="yyyy-MM-dd" />
                    <label class="px-2"> ~ </label>
                    <input type="date" @bind="_thisWeekEndDate" @bind:format="yyyy-MM-dd" />
                </div>
                <div class="card-body">
                    <label>팀</label> &nbsp;
                    <select class="dropdown" @onchange="OnModuleNameClicked">
                        <option class="dropdown-item" value="">-- Select Module --</option>
                        @foreach (var module in _module_names)
                        {
                            <option class="dropdown-item" value="@module.CODE_NAME">@module.CODE_NAME</option>
                        }
                    </select>
                    <textarea id="thisWeekEdit" name="editordata" />
                </div>
            </div>
        </div>

        <div class="col-xl-6 portfolio-item">

            <!--
                <ReportComponent StrtDate="@_nextWeekStrtDate" EndDate="@_nextWeekEndDate" EditorId="nextWeek" @ref="nextWeekComp" SaveSucceed="OnSaveCompleted" />
            -->
            <div class="card h-100">
                <div class="card-header">
                    <label class="px-4"> @NextWeekTitle </label>
                    <input type="date" @bind="_nextWeekStrtDate" @bind:format="yyyy-MM-dd" />
                    <label class="px-2"> ~ </label>
                    <input type="date" @bind="_nextWeekEndDate" @bind:format="yyyy-MM-dd" />
                </div>
                <div class="card-body">
                    <label>팀 : @OrgnName</label>

                    <textarea id="nextWeekEdit" name="editordata" />
                </div>
            </div>
        </div>
    </div>
}

<ConfirmModal @ref="confirmModal" Title="@ConfirmTitle" Message="@ConfirmMessage" OnConfirmCallback="OnRemoveConfirm" />
<AlertModal @ref="alertModal" Title="@ConfirmTitle" Message="@ConfirmMessage" />

@code {

    Report report;



    /// <summary>
    /// Editor component
    /// </summary>
    //ReportComponent thisWeekComp, nextWeekComp;

    /// <summary>
    /// ModuleName
    /// </summary>
    private List<CommonCode> _module_names;


    /// <summary>
    /// ThisWeek
    /// </summary>
    public string ThisWeekTitle { get; set; }

    protected DateTime _thisWeekStrtDate;
    public string ThisWeekStrtDate { get { return _thisWeekStrtDate.ToString("yyyy-MM-dd"); } set { _thisWeekStrtDate = DateTime.Parse(value); } }

    protected DateTime _thisWeekEndDate;
    public string ThisWeekEndDate { get { return _thisWeekEndDate.ToString("yyyy-MM-dd"); } set { _thisWeekEndDate = DateTime.Parse(value); } }

    /// <summary>
    /// NextWeek
    /// </summary>
    public string NextWeekTitle { get; set; }

    protected DateTime _nextWeekStrtDate;
    public string NextWeekStrtDate { get { return _nextWeekStrtDate.ToString("yyyy-MM-dd"); } set { _nextWeekStrtDate = DateTime.Parse(value); } }

    protected DateTime _nextWeekEndDate;
    public string NextWeekEndDate { get { return _nextWeekEndDate.ToString("yyyy-MM-dd"); } set { _nextWeekEndDate = DateTime.Parse(value); } }

    /// <summary>
    /// Common
    /// </summary>
    private string _orgn_name;
    public string OrgnName { get { return _orgn_name; } set { _orgn_name = value; } }


    public DateTime getMondayDate(DateTime dt)
    {
        return dt.AddDays(DayOfWeek.Monday - dt.DayOfWeek);
    }

    public int GetWeekNumberOfMonth(DateTime date)
    {
        date = date.Date;
        DateTime firstMonthDay = new DateTime(date.Year, date.Month, 1);
        DateTime firstMonthMonday = firstMonthDay.AddDays((DayOfWeek.Monday + 7 - firstMonthDay.DayOfWeek) % 7);
        if (firstMonthMonday > date)
        {
            firstMonthDay = firstMonthDay.AddMonths(-1);
            firstMonthMonday = firstMonthDay.AddDays((DayOfWeek.Monday + 7 - firstMonthDay.DayOfWeek) % 7);
        }
        return (date - firstMonthMonday).Days / 7 + 1;
    }

    protected void SetDefault()
    {
        _thisWeekStrtDate = this.getMondayDate(DateTime.Today);
        _thisWeekEndDate = _thisWeekStrtDate.AddDays(6);
        _nextWeekStrtDate = _thisWeekStrtDate.AddDays(7);
        _nextWeekEndDate = _nextWeekStrtDate.AddDays(6);

        ThisWeekTitle = _thisWeekStrtDate.ToString("MM") + "월 " + GetWeekNumberOfMonth(_thisWeekStrtDate).ToString() + "주";
        NextWeekTitle = _nextWeekStrtDate.ToString("MM") + "월 " + GetWeekNumberOfMonth(_nextWeekStrtDate).ToString() + "주";

        JSRuntime.InvokeVoidAsync("addEventListener", "thisWeekEdit");
        JSRuntime.InvokeVoidAsync("addEventListener", "nextWeekEdit");

        JSRuntime.InvokeAsync<string>("setData", "thisWeekEdit", "");
        JSRuntime.InvokeAsync<string>("setData", "nextWeekEdit", "");
    }


    protected override async Task OnInitializedAsync()
    {
        _module_names = await GetModuleNameList();

        OrgnName = "";
        SetDefault();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRender(firstRender);


        await JSRuntime.InvokeVoidAsync("addEventListener", "thisWeekEdit");
        await JSRuntime.InvokeVoidAsync("addEventListener", "nextWeekEdit");

        if (report != null)
        {
            await JSRuntime.InvokeAsync<string>("setData", "thisWeekEdit", report.REPORT_CONTENT);
            await JSRuntime.InvokeAsync<string>("setData", "nextWeekEdit", report.REPORT_CONTENT_EX);
        }

    }

    protected async Task<List<CommonCode>> GetModuleNameList()
    {
        return await commonSvc.GetCommonCodeListAsync("ORG001");
    }

    public async void OnModuleNameClicked(ChangeEventArgs moduleEvent)
    {
        OrgnName = moduleEvent.Value.ToString();
        //string module_name = module_names.FirstOrDefault(s => s.CODE == module_code).CODE_NAME;

        //await JSRuntime.InvokeVoidAsync("alert", "[" + ModuleName + "]" );

        await OnQuery();
    }

    protected async Task OnClear()
    {
        SetDefault();

        if (report != null)
        {
            report = null;
            report = new Report(_thisWeekStrtDate);
        }

        StateHasChanged();
    }


    protected async Task OnSave()
    {
        if (report.REPORT_ID > 0)
        {
            report.MODIFIER = await sessionStorage.GetItemAsync<string>("EMailAddr");
        }
        else
        {
            report.CREATOR = await sessionStorage.GetItemAsync<string>("EMailAddr");
            report.ORGN_NAME = await sessionStorage.GetItemAsync<string>("OrgnName");
            report.USER_NAME = await sessionStorage.GetItemAsync<string>("UserName");
        }

        report.REPORT_TYPE = "T";
        report.MODULE_NAME = "";
        report.STRT_DATE = _thisWeekStrtDate;
        report.END_DATE = _thisWeekEndDate;

        report.REPORT_CONTENT = await JSRuntime.InvokeAsync<string>("getData", "thisWeekEdit");
        report.REPORT_CONTENT_EX = await JSRuntime.InvokeAsync<string>("getData", "nextWeekEdit");

        if (report.REPORT_ID > 0)
            report = await reportSvc.UpdateReportAsync(report);
        else
            report = await reportSvc.AddReportAsync(report);

        //await JSRuntime.InvokeVoidAsync("alert", "save succeed...");

        ShowMessage("저장", "ReportID[" + report.REPORT_ID.ToString() + "]으로 저장되었습니다.");

        await OnQuery();
    }

    public async Task OnQuery()
    {

        if (report != null && report.REPORT_ID > 0)
            report = await reportSvc.GetReportByIdAsync(report.REPORT_ID);
        else
        {
            if (OrgnName == "")
            {
                ShowMessage("조회", "조직명을 선택하세요");
                return;
            }

            report = await reportSvc.GetReportByOwner("T", OrgnName, _thisWeekStrtDate);
            if (report == null)
            {

                List<Report> report_list = await reportSvc.GetReportListByOwner("T", OrgnName, _thisWeekStrtDate);
                string sUser = await sessionStorage.GetItemAsync<string>("EMailAddr");

                if (report_list != null && report_list.Count > 0)
                {
                    report = new Report();
                    report.REPORT_TYPE = "T";
                    foreach (Report rpt in report_list)
                    {
                        report.STRT_DATE = rpt.STRT_DATE;
                        report.END_DATE = rpt.END_DATE;
                        report.MODULE_NAME = "";
                        report.ORGN_NAME = rpt.ORGN_NAME;
                        report.REPORT_CONTENT += "<p>[" + rpt.MODULE_NAME + "] </p>" + rpt.REPORT_CONTENT;
                        report.REPORT_CONTENT_EX = "<p>[" + rpt.MODULE_NAME + "] </p>" + rpt.REPORT_CONTENT_EX;
                        report.REPORT_TITLE = rpt.REPORT_TITLE;
                        report.USER_NAME = sUser;
                    }

                    ShowMessage("보고서 생성", "작성된 팀 보고서가 없어 모듈단위 보고서로 팀 보고서를 생성하였습니다.");
                }
            }
        }

        if (report != null)
        {
            _orgn_name = report.ORGN_NAME;

            _thisWeekStrtDate = report.STRT_DATE;
            _thisWeekEndDate = report.END_DATE;

            _nextWeekStrtDate = _thisWeekStrtDate.AddDays(7);
            _nextWeekEndDate = _thisWeekEndDate.AddDays(7);

            await JSRuntime.InvokeAsync<string>("setData", "thisWeekEdit", report.REPORT_CONTENT);
            await JSRuntime.InvokeAsync<string>("setData", "nextWeekEdit", report.REPORT_CONTENT_EX);
        }
        else
        {
            ShowMessage("Info", "작성된 팀 및 모듈 보고서가 없습니다.");
            report = new Report(_thisWeekStrtDate);
        }

        StateHasChanged();
    }


    AlertModal alertModal;
    ConfirmModal confirmModal;

    public string ConfirmTitle { get; set; }
    public string ConfirmMessage { get; set; }

    protected async Task OnRemove()
    {
        if (report != null && report.REPORT_ID > 0)
        {
            ConfirmTitle = "삭제";
            ConfirmMessage = "작성중인 보고서를 삭제하시겠습니까?";

            confirmModal.ModalShow();
            // -> Callback : OnConfirm()

            return;
        }

        //ConfirmTitle = "삭제오류";
        //ConfirmMessage = "삭제 대상 ReportID [" + report.REPORT_ID.ToString() + "]가 존재 하지 않습니다.";
        //alertModal.ModalShow();

        ShowMessage("삭제오류", "삭제 대상 ReportID[" + report.REPORT_ID.ToString() + "]가 존재 하지 않습니다.");

        //alertModal.ModalShow("삭제오류", "삭제 대상 ReportID [" + report.REPORT_ID.ToString() + "]가 존재 하지 않습니다.");
        //await JSRuntime.InvokeVoidAsync("alert", "삭제 대상 ReportID [" + report.REPORT_ID.ToString() + "]가 존재 하지 않습니다.");
    }

    protected async Task OnRemoveConfirm(bool bAction)
    {
        if (bAction)
        {
            string sUser = await sessionStorage.GetItemAsync<string>("EMailAddr");
            int nAffected = await reportSvc.RemoveReportAsync(report.REPORT_ID, sUser);
            if (nAffected >= 1)
            {
                //ConfirmTitle = "삭제";
                //ConfirmMessage = nAffected.ToString() + "개의 레코드가 삭제되었습니다.";
                //alertModal.ModalShow();

                ShowMessage("삭제", nAffected.ToString() + "개의 레코드가 삭제되었습니다.");
                await OnClear();
            }
        }
    }

    protected void ShowMessage(string sTitle, string sMessage)
    {
        ConfirmTitle = sTitle;
        ConfirmMessage = sMessage;

        alertModal.ModalShow();
    }

}

